========================
ini "copas" untuk CONTOH
========================
============================================================================
source : http://www.script-tutorials.com/how-to-parse-web-pages-using-xpath/
============================================================================


body{background:#eee;font-family:Verdana, Helvetica, Arial, sans-serif;margin:0;padding:0}
.main{background:#FFF;width:800px;font-size:80%;border:1px #000 solid;margin:3.5em auto 2em;padding:1em 2em 2em}
h1{text-align:center}
.unit {margin:5px;padding:5px;border:1px solid #DDD;}
